/* Based partly on https://github.com/astro-community/astro-embed/tree/main/packages/astro-embed-twitter */

.toot-blockquote {
  line-height: 1.5rem;
  border: none;
  border-radius: var(--radius);
}

.toot-header {
  display: flex;
  margin: var(--gap) 0;
  gap: var(--gap);
}

.toot-profile {
  flex-shrink: 0;
}

.toot-profile img {
  border-radius: 50%;
  width: 3rem;
  height: auto;
  background: var(--theme);
}

.toot-author {
  display: flex;
  flex-direction: column;
}

.toot-author-name {
  font-weight: bold;
}

.toot-footer {
  margin-top: var(--gap);
  display: flex;
  align-items: center;
}

[class^='toot-img-grid'],
.toot-video-wrapper,
.toot-media-video {
  margin-top: var(--gap);
  border-radius: var(--radius);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: calc(var(--gap) * 0.5);
}

.toot-media-img {
  width: 100%;
  max-height: calc(var(--width) * 0.25);
  object-fit: cover;
}

.toot-video-wrapper {
  border-radius: var(--radius);
  display: block;
  position: relative;
}

.toot-img-grid-3 {
  grid-template-columns: repeat(2, 1fr);
}

.toot-img-grid-3 img {
  height: auto;
}

.toot-img-grid-2,
.toot-img-grid-4 {
  grid-template-columns: repeat(2, 1fr);
}

:is(.toot-img-grid-2, .toot-img-grid-4) img {
  height: calc(var(--width) * 0.25);
}

.toot-sens-blur {
  filter: blur(5rem);
  position: relative;
}

.toot-sens-blur-no {
  filter: none !important;
  z-index: 9999 !important;
  position: relative;
}

[class^='toot-img-grid'] {
  position: relative;
}

.blur-text {
  position: absolute;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem 0.1rem black;
  width: 100%;
  top: 40%;
  color: var(--cover);
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.blur-text-no {
  display: none !important;
}

.toot-poll-wrapper {
  margin-top: 1rem;
  line-height: 1rem;
}

.toot-poll-meter {
  margin: 1rem auto;
  position: relative;
}

.toot-poll-count {
  position: absolute;
  left: 2.5%;
  top: 0.3rem;
}

.toot-poll-title {
  position: absolute;
  left: 12.5%;
  top: 0.3rem;
}

.toot-poll-total {
  margin-top: 0.5rem;
}

.toot-reply-to {
  margin-top: 0;
  padding-top: 0;
  line-height: 1.5rem;
}

.toot-card {
  margin: var(--gap);
  position: relative;
  border-radius: var(--radius);
  text-decoration: none;
  color: var(--secondary);
  background: var(--theme);
}

.toot-card:hover {
  color: var(--link-hover-color);
}

.toot-card-image img {
  width: 100%;
  max-height: calc((var(--width) * 0.25) + 2rem);
  border-radius: var(--radius);
}

.toot-card-content {
  padding: var(--gap);
}

.toot-card-title {
  margin-top: 0;
  font-weight: bold;
}


/* Fedishare form */

.fedishare {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#shareForm {
  width: var(--content-width);
  padding: calc(var(--gap) * 1.5);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap);
  border-radius: var(--radius);
  background: var(--entry);
}

#shareForm label {
  width: 100%;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--gap) * 0.5);
}

#shareForm :is(input:not([type="checkbox"]), textarea):not([readonly]) {
  width: 100%;
  padding: calc(var(--gap) * 0.75);
  border-radius: var(--radius);
  color: var(--secondary);
  background: var(--theme);
}

#shareForm [readonly] {
  width: 100%;
  padding: calc(var(--gap) * 0.75);
  border-radius: var(--radius);
  color: var(--tertiary);
  background: var(--theme);
}

#shareForm :is(.fedishare-instance-container, [for="rememberInstance"]) {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--gap);
}

#shareForm .fedishare-instance {
  flex-grow: 1;
}

#shareForm #instance:invalid {
  color: crimson;
}

#shareForm #instance:placeholder-shown {
  color: var(--tone);
}

#shareForm #rememberInstance {
  margin-inline-end: calc(var(--gap) * 2);
}

#shareForm #submit {
  width: 100%;
  margin-top: var(--gap);
  padding: var(--padding);
  color: var(--cover);
  font-weight: bold;
  background: var(--link-color);
  border-radius: var(--radius);
}

#shareForm #submit:hover {
  background: var(--link-hover-color);
}

:is(#shareForm #submit:disabled, #shareForm:has(#instance:invalid) #submit) {
  background: var(--tone);
  cursor: not-allowed;
}
